configuration {
    modi: "drun,run,window,ssh";
    show-icons: true;
    icon-theme: "Adwaita";
    terminal: "ghostty";
    drun-display-format: "{name}";
    display-drun: "Apps";
    display-run: "Run";
    display-window: "Windows";
    display-ssh: "SSH";
}

@theme "kanso-mist"
