/* Sonokai Maia GTK override */

@define-color theme_bg_color #273136;
@define-color theme_fg_color #e1e2e3;
@define-color theme_base_color #2f3b40;
@define-color theme_text_color #e1e2e3;
@define-color theme_selected_bg_color #78cee9;
@define-color theme_selected_fg_color #273136;
@define-color theme_unfocused_bg_color #273136;
@define-color theme_unfocused_fg_color #82878b;
@define-color insensitive_bg_color #2f3b40;
@define-color insensitive_fg_color #82878b;
@define-color borders #3a474d;
@define-color unfocused_borders #3a474d;
@define-color warning_color #e3d367;
@define-color error_color #f76c7c;
@define-color success_color #9cd57b;
@define-color link_color #78cee9;

/* Window background */
window, .background {
    background-color: #273136;
    color: #e1e2e3;
}

/* Headerbar / titlebar */
headerbar, .titlebar {
    background-color: #2f3b40;
    color: #e1e2e3;
    border-bottom: 1px solid #3a474d;
}

/* Sidebars */
.sidebar, placessidebar {
    background-color: #273136;
    color: #e1e2e3;
}

.sidebar row:selected, placessidebar row:selected {
    background-color: #3a474d;
    color: #78cee9;
}

/* File list */
treeview, .view {
    background-color: #2f3b40;
    color: #e1e2e3;
}

treeview:selected, .view:selected,
treeview row:selected, .view row:selected {
    background-color: #3a474d;
    color: #78cee9;
}

treeview:hover, .view:hover {
    background-color: #3a474d;
}

/* Toolbar */
toolbar, .toolbar {
    background-color: #273136;
    border-bottom: 1px solid #3a474d;
}

/* Buttons */
button {
    background-color: #3a474d;
    color: #e1e2e3;
    border: 1px solid #3a474d;
}

button:hover {
    background-color: #78cee9;
    color: #273136;
}

button:checked {
    background-color: #3a474d;
    color: #78cee9;
}

/* Path bar / breadcrumbs */
.path-bar button {
    background-color: transparent;
    color: #82878b;
}

.path-bar button:checked, .path-bar button:hover {
    color: #78cee9;
}

/* Entry / search */
entry {
    background-color: #2f3b40;
    color: #e1e2e3;
    border: 1px solid #3a474d;
    caret-color: #78cee9;
}

entry:focus {
    border-color: #78cee9;
}

/* Menus */
menu, .menu, popover, .popover {
    background-color: #2f3b40;
    color: #e1e2e3;
    border: 1px solid #3a474d;
}

menu menuitem:hover, .menu menuitem:hover {
    background-color: #3a474d;
    color: #78cee9;
}

/* Scrollbars */
scrollbar slider {
    background-color: #3a474d;
    border-radius: 999px;
}

scrollbar slider:hover {
    background-color: #78cee9;
}

/* Tooltip */
tooltip, tooltip.background {
    background-color: #2f3b40;
    color: #e1e2e3;
    border: 1px solid #3a474d;
}
